{% extends 'dashboard/dashboard_base.html' %}
{% block container %}

    <table class="table panel panel-default pull-left" style="max-width:300px;margin-right:40px">
        <tbody>
            <tr>
                <th>2015-06</th>
                <td class="text-right">182:45:55</td>
            </tr>
            <tr>
                <th>2015-05</th>
                <td class="text-right">182:45:55</td>
            </tr>
            <tr>
                <th>2015-04</th>
                <td class="text-right">182:45:55</td>
            </tr>
            <tr>
                <th>2015-04</th>
                <td class="text-right">182:45:55</td>
            </tr>
            <tr>
                <th>2015-03</th>
                <td class="text-right">182:45:55</td>
            </tr>
            <tr>
                <th>2015-02</th>
                <td class="text-right">182:45:55</td>
            </tr>
        </tbody>
    </table>

    <table class="table panel panel-default" style="max-width:300px">
        <tbody>
            <tr>
                <th>Today</th>
                <td class="text-right">08:53:12</td>
            </tr>
            <tr>
                <th>This week</th>
                <td class="text-right">47:33:25</td>
            </tr>
            <tr>
                <th>This month</th>
                <td class="text-right">182:45:55</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
