{% extends 'dashboard/dashboard_base.html' %}
{% block container %}

    {% if not clock_is_open %}
        {% set action = '/clock/start' %}
        {% set btn_type = 'success' %}
        {% set btn_text = 'Start Clock' %}
    {% else %}
        {% set action = '/clock/stop' %}
        {% set btn_type = 'warning' %}
        {% set btn_text = 'Stop Clock' %}
    {% endif %}

    <form action="{{ action }}" method="post" class="clock-buttons">
        <div class="btn-group">
            <button class="btn btn-{{ btn_type }} btn-lg">
                <i class="glyphicon glyphicon-time"></i>
            </button>
            <button type="submit" class="btn btn-{{ btn_type }} btn-lg">
                {{ btn_text }}
            </button>
        </div>
    </form>

    {% if clocks.exists() %}
        <div class="clocks">
            {% set date = None %}
            {% for clock in clocks %}

                {% if clock.start.date() != date %}
                    <div class="clock-date">
                        {{ clock.start.date().strftime('%Y-%m-%d') }}
                        {% if clock.start.date() == now.date() %}
                            <span class="text-muted small" style="margin-left:10px">Today</span>
                        {% endif %}
                    </div>
                {% endif %}
                {% set date = clock.start.date() %}

                <div class="clock">
                    {% if clock.stop %}
                        <i class="glyphicon glyphicon-time" style="color:#ccc"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-hourglass" style="color:#888"></i>
                    {% endif %}
                    <span class="clock-hour">{{ clock.start.strftime('%H:%M:%S') }}</span>
                    <i class="glyphicon glyphicon-arrow-right small" style="color:#ddd"></i>
                    <span class="clock-hour">
                        {% if clock.stop %}
                            {{ clock.stop.strftime('%H:%M:%S') }}
                        {% else %}
                            : :
                        {% endif %}
                    </span>
                </div>

            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
{% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="/static/css/clock.css">

{% endblock %}
