{% extends 'main.html' %}
{% block body %}

    <h1>Register</h1>
    <form action="" method="post">
        <input name="email" type="text" value="{{ form.data.email }}" placeholder="Email" autofocus><br>
        <input name="password1" type="password" value="{{ form.data.password1 }}" placeholder="Password"><br>
        <input name="password2" type="password" value="{{ form.data.password2 }}" placeholder="Password confirmation"><br>
        <button type="submit">Register</button>
    </form>

    <br>

    {{ form.errors }}

{% endblock %}
