{% extends 'public/public_base.html' %}
{% block container %}

    <h2>Register</h2>
    <hr>
    <form action="" method="post">
        <div class="form-group">
            <input class="form-control" name="email" type="text" value="{{ form.data.email }}" placeholder="Email" autofocus>
            <div class="help-block">
                {% if form.errors.email %}
                    <p class="text-danger">{{ form.errors.email }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="password1" type="password" value="{{ form.data.password1 }}" placeholder="Password">
            <div class="help-block">
                {% if form.errors.password1 %}
                    <p class="text-danger">{{ form.errors.password1 }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="password2" type="password" value="{{ form.data.password2 }}" placeholder="Password confirmation">
            <div class="help-block">
                {% if form.errors.password2 %}
                    <p class="text-danger">{{ form.errors.password2 }}</p>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login" class="btn btn-link">Login</a>
    </form>

{% endblock %}
